@media (max-width:1290px) {
  .wrapper{
    padding-bottom:0;
    padding-top:0;
  }
  body{
    background:white;
  }
}

@media(max-width:1200px){
  .first_ser-info{
    font-size: 1px;
  }
  .ser-info{
    font-size: 12px;
  }
  .service .core{
    font-size: 19px;
    padding-top: 9px;
  }
}

@media(max-width: 775px){
  .image_sertificat{
    width: 50%;
    height: auto;
  }
  .services_div{
    padding: 0 !important;
    margin: 0 !important;
    width: 100%; !important;
  }
  .service .core{
    font-size: 15px;
    padding-top: 21px;
  }
}

@media(max-width: 530px){
  .services_text{
    font-size: 30px;
  }
  .service .ser-info{
    padding-top: 10px;
  }
  .service .core{
    height: 40px;
    font-size: 10px;
    padding-top: 10px;
  }
}

@media(max-width: 370px){
  .service .core{
    padding-top: 5px;
    height: 30px;
  }
}

@media (max-width:1075px) {
  /*header .text{
    left: 75px;
    position:relative;
    width: auto;
  }*/
  .logo-src{
    /*margin-left: -5%;*/
    margin: 0 auto;
    padding-bottom: 40px;
  }

}

@media (max-width:850px){
  footer{
    display:none;
  }
  .special .information .information-text{
      padding: 5px 0 0 20px;
      font-size: 20px;
  }
}

@media (min-width: 1075px){
  .logo-src{
    padding-bottom: 130px;
  }
}

@media (max-width: 1075px) {
  .text43209483290::before{
    display:none !important;
  }
  .image_sertificat{
    width: 80%;
    height: auto;
  }
  .logo-src{
    position:static;
    box-sizing:border-box;
    padding-top: 40px
  }
  .text43209483290{
    margin-bottom: 100px;
    position:relative !important;
    left: 25% !important;
    width: 400px;
  }
  .h4_header::before{
    left:-60px !important;
  }
  .logo{
    margin-left: 15%;
  }
}

@media (max-width: 390px){
  #back_panel #core{
    font-size: 15px !important;
  }
  .pre-message-top{
    font-size: 20px !important;
  }
  #back_panel #top{
    padding-top: 5px;
  }
  .h4_header{
    font-size: 10px;
    margin-left: -50px;
  }
  #h4_mail::before{
    margin-left: -30px;
    background-size: 20px;
  }
  #h4_phone::before{
    margin-left: -30px;
    background-size: 20px;
  }
  #h4_place::before{
    margin-left: -30px;
    background-size: 20px;
  }

  .sertificat_text{
    font-size: 20px;
    height: 70px;
    transition: .2s;
  }
  /*.image_sertificat{
    height: 80%;
  }*/
  .sertificat{
    padding-bottom:30px;
  }
  .logo-src{
    margin: 0;
    transform: scale(0.6) translateY(-7px);
    margin-left: -60px;
  }
  .logo{
    margin:0;
  }
}

@media (max-width: 560px) {
  .exam_form_exam{
    width: 100%;
    height: 100%;
  }
  #i382190809321{

  }
  .input382901389021{
    font-size: 15px;
  }
  .text43209483290{
    font-size:10px !important;
    width: 250px !important;
  }
}

@media (max-width: 460px) {
  .text43209483290{
    width: 150px !important;
    margin-left: 10%;
  }
  .logo-src{
    padding: 0px;
    box-sizing:border-box;
    left:0;
    padding-top: 41px;
    padding-bottom: 20px;
  }
  .logo{
    width: 100%;
  }

}

@media (max-width: 660px) {
  .cl432890432809::after{
    display:none !important;
  }
}
